
@{
    ViewData["Title"] = "Index";
}

<form method="post">
    <button asp-controller="Email" asp-action="SendMail">Click Me</button>
    @*<input type="image" src="..." alt="Or Click Me" asp-controller="Email"
           asp-action="Index">*@


    <input  />
</form>

<script>


</script>